.top-articles {
  margin: 10px 20px;
  &__item {
    display: flex;
    margin: 10px 0px;
    align-items: stretch;
  }
  &__image {
    width: 100px;
  }
  &__text {
    flex-grow: 1;
    margin: 0 10px;
  }
  &__meta {
    display: flex;
  }
  &__icon {
    margin: 5px;
  }
  &__header {
    font-size: 18px;
  }
}
